<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Marcos Uploader</h1>
    <p class="lead">Draufziehen uns los geht's egal wie groß egal wieviel!</p>
  </div>
</header>

<div class="container">
  <div ng-repeat="file in files" class="row">
    <upload-item file="file" create-new-callback="createNewFile()"></upload-item>
  </div>
<!--
      <div ng-show="uploadPercentage">
        <h3>{{uploadFilename}}</h3>
        <uib-progressbar max="100" value="uploadPercentage">
          <span style="color:white; white-space:nowrap;">{{uploadPercentage}} %</span>
        </uib-progressbar>
      </div>
      <div ngf-select ngf-drop ngf-drop-available="true" ng-model="uploadFile" class="drop-box"
           ngf-drag-over-class="'dragover'">Hier neue Dateien ablegen!</div>
    </div>
    -->
</div>

<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
